<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
          integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Home</title>
</head>

<body class="bg-light">
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid" style="max-width:1500px">
  <!-- Sales Graph -->
  <div th:if="${sellerId} != null" class="container m-5">
    <div class="row rounded bg-white" style="-webkit-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); -moz-box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);">
      <div class="text-center">
        <div class="row justify-content-center m-2">
          <canvas id="salesChart" class="img-fluid" style="height: 12px; width: auto;"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="container m-5">
    <div class="row">
      <div class="text-center mb-2">
        <a type="button"
           class="btn btn-md btn-primary"
           th:href="@{catalog/create-catalog}">+ Tambah Produk</a>
      </div>
    </div>
  </div>
  <div class="container-fluid m-5">
    <div class="row">
      <!-- Left Part (2 columns) FILTER -->
      <div class="col-md-2">
        <div class="container-sm mx-auto rounded border border-primary bg-white">
          <h5 class="mt-2">Filter</h5>
          <div class="container-sm">
            <form th:action="@{/search-catalog-price}" method="GET">
              <div class="mb-3">
                <h6>Harga</h6>
              </div>
              <div class="mb-3">
                <input class="form-control" type="number" id="lowerLimitPrice" name="lowerLimitPrice" placeholder="Minimum" />
              </div>
              <div class="mb-3">
                <input class="form-control" type="number" id="higherLimitPrice" name="higherLimitPrice" placeholder="Maximum" />
              </div>
              <div class="text-center mt-1 mb-3">
                <button class="btn btn-primary" type="submit">Terapkan</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Right Part (10 columns) -->
      <div class="col-md-9">
        <!--   Search Bar dan Urutkan   -->
        <div class="container-sm row">
          <!--    Search Bar    -->
          <div class="col-md-6">
            <form th:action="@{/search-catalog-name}" method="GET">
              <div class="input-group">
              <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
              </span>
                <input class="form-control search-input-icon" style="border-left: none" type="search" id="catalog" name="catalog" placeholder="Cari di APAPEDIA" />
              </div>
            </form>
          </div>
          <div class="col-md-3"></div>
          <!--    Urutkan    -->
          <div class="col-md-3 d-flex align-items-center">
            <span class="me-2">Urutkan:</span>
            <form th:action="@{/get-catalog}" method="GET">
              <select class="form-select custom-select" name="sort" onchange="this.form.submit()">
                <option value="" selected disabled>Pilih Opsi</option>
                <option value="productName-asc">Nama: A - Z</option>
                <option value="productName-desc">Nama: Z - A</option>
                <option value="price-asc">Harga: Rendah - Tinggi</option>
                <option value="price-desc">Harga: Tinggi - Rendah</option>
              </select>
              <noscript><input type="submit" value="Submit"></noscript>
            </form>
          </div>

        </div>
        <!--   If the product is fixed, change this to iterate it   -->
        <!--   Card Product   -->
        <div class="container-sm row mt-3">
          <div th:each="catalog, iterStat : ${catalogList}" class="col-md-2" th:style="${iterStat.index >= 6} ? 'margin-top: 20px;' : 'margin-top: 10px;'">
            <div class="card rounded" style="height: 280px; display: flex; flex-direction: column;">
              <!--              <img th:src="'data:image/png;base64,' + ${catalog.image}" alt="" class="rounded-top" style="max-height: 150px; width: 100%; object-fit: cover;">-->
              <img src="https://images.pexels.com/photos/1459505/pexels-photo-1459505.jpeg" alt="" class="rounded-top" style="height: 100px; width: 100%; object-fit: cover;">
              <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                <!-- Use a utility method to truncate productName if it exceeds 24 characters -->
                <p class="card-title mb-0 pb-1" th:utext="${#strings.length(catalog.productName) > 24 ? #strings.substring(catalog.productName, 0, 20) + '...' : catalog.productName}"></p>
                <h6 th:text="'Rp' + ${catalog.price}"></h6>
                <h6 th:text="${catalog.category.name}" style="font-weight: lighter; font-size: smaller;"></h6>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <a th:href="@{'#'}" class="btn btn-card btn-primary float-end">Ubah</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  var quantityPerDay = [[${quantityPerDay}]];
  var labels = Object.keys(quantityPerDay);
  var chartData = labels.map(function(key) {
      return quantityPerDay[key];
  });
  var color = '#012970';
  const ctx = document.getElementById('salesChart').getContext("2d");

 new Chart(ctx, {
      type: 'line',
      data: {
          labels: labels,
          datasets: [{
              label: 'Total Barang Terjual per Hari',
              data: chartData,
              backgroundColor: color,
              borderColor: color,
              borderWidth: 1,
              pointBackgroundColor: color,
              pointBorderColor: color,
              pointRadius: 5,
              pointHoverRadius: 8
          }]
      },
      options: {
          scales: {
              x: {
                  title: {
                      display: true,
                      text: 'Tanggal'
                  }
              },
              y: {
                  title: {
                      display: true,
                      text: 'Total Barang Terjual per Hari'
                  },
                  ticks: {
                      stepSize: 10,
                      beginAtZero: true
                  }
              }
          },
          plugins: {
              title: {
                  display: true,
                  text: 'Grafik Total Barang Terjual per Hari pada Bulan Ini',
                  font: {
                      size: 16
                  }
              }
          }
      }
  });
</script>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
