<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <footer th:fragment="footer">
        <div class="DesktopFooter5" style="width: 100%; height: 414px; background: #4154F1; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex">
            <div class="Div" style="align-self: stretch; height: 338px; padding-left: 195px; padding-right: 195px; justify-content: center; align-items: center; display: inline-flex">
              <div class="Container" style="flex: 1 1 0; align-self: stretch; padding-top: 80px; padding-bottom: 80px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 80px; display: inline-flex">
                <div class="Row" style="width: 1046px; justify-content: space-between; align-items: flex-start; display: inline-flex">
                  <div class="ColMd3" style="width: 295px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: inline-flex">
                    <div class="H3" style="color: white; font-size: 24px; font-family: Oswald; font-weight: 700; line-height: 32px; letter-spacing: 0.10px; word-wrap: break-word">Get In Touch</div>
                    <div class="Paragraph" style="color: #8EC2F2; font-size: 14px; font-family: Oswald; font-weight: 400; line-height: 20px; letter-spacing: 0.20px; word-wrap: break-word">Get to know more about <br/>APAPEDIA</div>
                    <!-- <div class="SocialMedia" style="justify-content: center; align-items: center; gap: 20px; display: inline-flex">
                      <div class="Facebook" style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                        <div class="AntDesignFacebookFilled" style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                          <div class="Vector" style="width: 23px; height: 23px; background: white"></div>
                        </div>
                      </div>
                      <div class="Instagram" style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                        <div class="AntDesignInstagramOutlined" style="width: 24px; height: 24px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                          <div class="Vector" style="width: 22px; height: 22px; background: white"></div>
                        </div>
                      </div>
                      <div class="Twitter" style="width: 24px; height: 19.76px; justify-content: center; align-items: center; display: flex">
                        <div class="AntDesignTwitterOutlined" style="width: 24px; height: 19.76px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                          <div class="Vector" style="width: 22px; height: 18px; background: white"></div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <div class="ColMd3" style="width: 241px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                    <div class="H3" style="color: white; font-size: 24px; font-family: Oswald; font-weight: 700; line-height: 32px; letter-spacing: 0.10px; word-wrap: break-word">Company info</div>
                    <div class="Div" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                      <div class="Link" style="color: #8EC2F2; font-size: 14px; font-family: Montserrat; font-weight: 700; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word">APAPEDIA</div>
                    </div>
                    <div class="Paragraph" style="color: #8EC2F2; font-size: 14px; font-family: Oswald; font-weight: 400; line-height: 20px; letter-spacing: 0.20px; word-wrap: break-word">We are here to help you sell your product and<br/>manage it. </div>
                  </div>
                  <div class="ColMd3" style="width: 240px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
                    <div class="H3" style="color: white; font-size: 24px; font-family: Oswald; font-weight: 700; line-height: 32px; letter-spacing: 0.10px; word-wrap: break-word">Features</div>
                    <div class="Div" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <a class="a" th:href="@{/}" style="color: #8EC2F2; font-size: 14px; font-family: Oswald; font-weight: 400; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word; text-decoration: none;">Catalog</a>
                        <a class="a" th:href="@{/}" style="color: #8EC2F2; font-size: 14px; font-family: Oswald; font-weight: 400; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word; text-decoration: none;">Order History</a>
                        <a class="a" th:href="@{/}" style="color: #8EC2F2; font-size: 14px; font-family: Oswald; font-weight: 400; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word; text-decoration: none;">Login</a>
                        <a class="a" th:href="@{/}" style="color: #8EC2F2; font-size: 14px; font-family: Oswald; font-weight: 400; line-height: 24px; letter-spacing: 0.20px; word-wrap: break-word; text-decoration: none;">Register</a>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="Div" style="align-self: stretch; height: 76px; padding-bottom: 2px; padding-left: 195px; padding-right: 195px; justify-content: center; align-items: center; display: inline-flex">
              <div class="Container" style="flex: 1 1 0; padding-top: 25px; padding-bottom: 25px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                <div class="Row" style="justify-content: flex-start; align-items: center; gap: 213px; display: inline-flex">
                  <div class="ColMd6" style="width: 513px; flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex">
                    <div class="MadeWithLoveByApapedia" style="color: white; font-size: 14px; font-family: Oswald; font-weight: 700; line-height: 24px; letter-spacing: 2px; word-wrap: break-word">Made With Love By APAPEDIA</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </footer>
</body>

</html>
