<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>    
    <title>Order History</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <style>
        body {
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container my-4">
        <div class="table-responsive">
            <table id="orderTable" class="display">
                <thead class="table-dark">
                    <tr>
                        <th style="color: #012970;">#</th>
                        <th style="color: #012970;">Order ID</th>
                        <th style="color: #012970;">Created At</th>
                        <th style="color: #012970;">Status</th>
                        <th style="color: #012970;">Total Price</th>
                        <th style="color: #012970;">Actions</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr th:each="order, status : ${orderList}">
                        <td th:text="${status.index + 1}"></td>
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.createdAt}"></td>
                        <td>
                            <span th:if="${order.status == 0}">Untuk di proses dan kirim</span>
                            <span th:unless="${order.status == 0}">Dikirimkan</span>
                        </td>
                        <td th:text="'Rp ' + ${#numbers.formatDecimal(order.totalPrice, 0, 2, 'COMMA')}"></td>
                        <td><a th:href="@{'/update-status/' + ${order.id}}" class="btn btn-md btn-primary">Update Status</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [5, 10, 20],
                "pageLength": 10,
                "ordering": false,
                "rowCallback": function (row, data, index) {
                    var api = this.api();
                    var startIndex = api.page() * api.page.len();
                    var counter = startIndex + index + 1;
                    $('td:eq(0)', row).html(counter);
                }
            });

        //   // Apply custom CSS to change title column text color
        //   $('#gudangTable thead th').css('color', 'black');
            
        });
    </script>

</body>

</html>
