<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" th:href="@{/img/icon.png}" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>    
    <title>Order History</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&display=swap">
    <style>
        body {
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container my-4">
        <div class="table-responsive">
            <table id="orderTable" class="display">
                <thead class="table-dark">
                    <tr>
                        <th style="color: #012970;">#</th>
                        <th style="color: #012970;">Order ID</th>
                        <th style="color: #012970;">Created At</th>
                        <th style="color: #012970;">Status</th>
                        <th style="color: #012970;">Total Price</th>
                        <th style="color: #012970;">Actions</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr th:each="order, status : ${orderList}">
                        <td th:text="${status.index + 1}"></td>
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.createdAt}"></td>
                        <td>
                            <span th:if="${order.status == 0}">Menunggu konfirmasi penjual</span>
                            <span th:if="${order.status == 1}">Dikonfirmasi penjual</span>
                            <span th:if="${order.status == 2}">Menunggu kurir</span>
                            <span th:if="${order.status == 3}">Dalam perjalanan</span>
                            <span th:if="${order.status == 4}">Barang diterima</span>
                            <span th:if="${order.status == 5}">Selesai</span>
                        </td>
                        <td th:text="'Rp ' + ${#numbers.formatDecimal(order.totalPrice, 0, 2, 'COMMA')}"></td>
                        <!-- <td><a th:href="@{'/update-status/' + ${order.id}}" class="btn btn-md btn-primary">Update Status</a></td> -->
                        <!-- <td>
                            <button data-order-id="${order.id}" data-current-status="${order.status}"
                                onclick="updateStatus(this)"
                                class="btn btn-md btn-primary">Update Status
                            </button>                    
                        </td>                         -->
                        <td>
                            <button th:attr="data-order-id=${#strings.toString(order.id)}, data-current-status=${order.status}" 
                                onclick="updateStatus(this)"
                                class="btn btn-md btn-primary">Update Status
                            </button>    
                        </td>
                        <!-- ini kalau misal status udah 5 trs nanti buttonnya jadi disable -->
                        <!-- <td>
                            <button data-order-id="${order.id}" data-current-status="${order.status}"
                                onclick="updateStatus(this)"
                                class="btn btn-md btn-primary" th:disabled="${order.status == 5}">Update Status
                            </button>                    
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="error-container" style="color: red;"></div>
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [5, 10, 20],
                "pageLength": 10,
                "ordering": false,
                "rowCallback": function (row, data, index) {
                    var api = this.api();
                    var startIndex = api.page() * api.page.len();
                    var counter = startIndex + index + 1;
                    $('td:eq(0)', row).html(counter);
                }
            });

        //   // Apply custom CSS to change title column text color
        //   $('#gudangTable thead th').css('color', 'black');
            
        });

        
        // function updateStatus(button) {
        //     var orderId = button.getAttribute("data-order-id");
        //     var currentStatus = parseInt(button.getAttribute("data-current-status"));
        //     var newStatus = currentStatus + 1;

        //     // Panggil endpoint untuk pembaruan status
        //     $.ajax({
        //         type: "POST",
        //         url: "/order/update-status/" + orderId + "/" + newStatus,
        //         success: function (response) {
        //             // Handle success, jika diperlukan
        //             alert("Status updated successfully!");
        //             location.reload(); // Refresh halaman setelah pembaruan status
        //         },
        //         // error: function (error) {
        //         //     // Handle error, jika diperlukan
        //         //     alert("Failed to update status: " + error.responseText);
        //         // }
        //         error: function (error) {
        //             error.responseText;
        //         }
        //     });
        // }

        function updateStatus(button) {
            var orderId = button.getAttribute("data-order-id");
            // Debugging statement
            console.log("Order ID:", orderId);
            var currentStatus = parseInt(button.getAttribute("data-current-status"));
            var newStatus = currentStatus + 1;

            // Bersihkan pesan kesalahan sebelumnya (jika ada)
            document.getElementById("error-container").innerText = "";

            // Panggil endpoint untuk pembaruan status
            $.ajax({
                type: "POST",
                url: "/order/update-status/" + orderId + "/" + newStatus,
                success: function (response) {
                    // Handle success, jika diperlukan
                    alert("Status updated successfully!");
                    location.reload(); // Refresh halaman setelah pembaruan status
                },
                error: function (error) {
                    // Handle error, jika diperlukan
                    document.getElementById("error-container").innerText = "Failed to update status: " + error.responseText;
                }
            });
        }
    </script>


<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>
